.mainPanel {
    background-color: var(--mainPanel);
    border: 3px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 25px 50px;
}

.secondaryPanel {
    background-color: var(--secondaryPanel);
    border: 3px solid var(--border);
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.terciaryPanel {
    background-color: var(--terciaryPanel);
    border: 3px solid var(--border);
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}
