.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.panel {
    min-width: 600px;
    height: 700px;
    justify-content: space-around;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.forgotRow,
.signupRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.link {
    color: var(--green);
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--mainText) inset;
    -webkit-text-fill-color: var(--se);
}

.fieldGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacingSmall);
    width: 100%;
}
