.mainPanel {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--borderWidth) * -1);
}

.resultsPanel {
    gap: var(--spacingSmall);
}

.list {
    gap: var(--spacingSmall);
    padding: var(--spacingSmall);
}
