# Copy this file to .env and fill in your values
NODE_ENV=development

# To run it locally (not in docker) change "postgres" to "localhost"
DATABASE_URL=postgresql://admin:admin123@postgres:5432/gr_db

JWT_SECRET=ce3b837a14b9d6f47d9fd9da24c6e90270986aebffc7e3067c9f66c34bbbf5d597f89600ff05b9b21da16b026a21224f55fe2f38a62e411905305436e001894d
JWT_EXPIRES_IN=2h

CSRF_SECRET=e77abafd85a6cacc694f4cdaa6a0600a5e9cb1d8d1b225222108fabfdb25ccf8

IGDB_CLIENT_ID=ss5n9onftjqga1kcz0mzhbq4n6rhaf
IGDB_CLIENT_SECRET=cr24j0rjhgbjbkzbwnq0wj84zlv146

CLOUDINARY_CLOUD_NAME=dczx70fv2
CLOUDINARY_API_KEY=229942893951588
CLOUDINARY_API_SECRET=ypngQLXV6HmPBsR_w5E8MtvdJg4