.button {
    width: fit-content;
    height: fit-content;
    padding: 1em 0.7em;
    border: 3px solid var(--border);
    background-color: var(--button);
    color: var(--mainText);
}

.login {
    padding: 0.8em 1.7em;
    background-color: var(--green);
    color: var(--reverseText);
}

.signup {
    white-space: nowrap;
    padding: 0.8em 1.7em;
    background-color: var(--transparent);
    color: var(--mainText);
}
