.button {
    width: fit-content;
    height: fit-content;
    padding: 1em 0.7em;
    border: var(--borderWidth) solid var(--border);
    background-color: var(--button);
    color: var(--mainText);
    cursor: pointer;
}

.login {
    padding: 0.8em 1.7em;
    background-color: var(--green);
    color: var(--reverseText);
}

.signup {
    white-space: nowrap;
    padding: 0.8em 1.7em;
    background-color: var(--transparent);
    color: var(--mainText);
}

.logout {
    white-space: nowrap;
    padding: 0.8em 1.7em;
    background-color: var(--transparent);
    color: var(--mainText);
}

.edit {
    width: 36px;
    height: 36px;
    padding: 0;
    background-color: var(--transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.button:hover {
    border-color: var(--cyan);
}

.button:active {
    border-color: var(--pink);
}

.disabled {
    opacity: 0.45;
    cursor: not-allowed;
}
