.createReviewButton {
    width: 64px;
    height: 40px;
    border-color: var(--mainText);
    background-color: var(--transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    padding-bottom: 18px;
}

.full {
    width: 100%;
}
