.frame {
    position: relative;
    width: fit-content;
}

.navButtonLeft,
.navButtonRight,
.navButtonLeftVideo,
.navButtonLeftArt,
.navButtonRight,
.navButtonRightArt {
    position: absolute;
    top: 50%;
}

.navButtonLeft {
    left: 0px;
    transform: translate(-100%, -50%);
}

.navButtonRight {
    right: 0px;
    transform: translate(100%, -50%);
}

.row {
    display: flex;
    gap: var(--spacingSmall);
    opacity: 1;
    transition: opacity 300ms ease-out;
}

.transparent {
    opacity: 0;
}

.navButtonLeftVideo {
    left: 0px;
    transform: translate(-10%, -100%);
}

.navButtonRightVideo {
    right: 0px;
    transform: translate(192%, -346%);
}

.navButtonLeftArt {
    left: 0px;
    transform: translate(-10%, -50%);
}

.navButtonRightArt {
    right: 0px;
    transform: translate(10%, -50%);
}
