.frame {
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.navButtonLeft,
.navButtonRight {
    position: absolute;
    top: 50%;
}

.navButtonLeft {
    left: 0px;
    transform: translate(-100%, -50%);
}

.navButtonRight {
    right: 0px;
    transform: translate(100%, -50%);
}

.keyArt {
    width: 500px;
    aspect-ratio: 16 / 9;
    display: block;
}

.details {
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-self: stretch;
}

.collage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacingSmall);
    margin-top: 6px;
}

.image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.value {
    color: var(--cyan);
}
