.frame {
    position: relative;
    width: fit-content;
    cursor: pointer;
    min-height: 297px;
}

.keyArt {
    width: 500px;
    aspect-ratio: 16 / 9;
    display: block;
}

.details {
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-self: stretch;
}

.collage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacingSmall);
    margin-top: 6px;
}

.image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.value {
    color: var(--cyan);
}

.name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}

.genreLine {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.developerLine {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}
