.bar {
    background-color: var(--secondaryPanel);
    border: var(--borderWidth) solid var(--border);
    min-height: 82px;
    display: flex;
    align-items: center;
    gap: 41px;
    padding: 0 54px;
}
